Safa Aru

Comp3132

Assignment 02

Student ID: 1910

In [193]:
# Connect your Colab to your Google drive.
# Hint: Using dive.mount

In [233]:
#00 1st, upload the iris.csv into your Google Drive (your Colab folder).
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [234]:
#01-a Find the path of iris.csv file, and save it in a variable called fileName.
fileName = '/content/drive/MyDrive/iris.csv'

In [235]:
#01-b Read the content of the iris.csv file and save it in a variable, named iris.
  
  # in order to read file we need to import 'Pandas' library

import pandas as pd
iris = pd.read_csv(fileName)

In [236]:
#01-c Show the first 5 rows of the dataframe.
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

As you see, the last column contains strings. We want to convert these strings to integers,  and we can work with them easily in our Neural Network model.

setosa -> 0

versicolor -> 1

virginica -> 2

In [237]:
#2-a Please convert the last column strings to integers, as 
# setosa -> 0
# versicolor -> 1
# virginica -> 2

iris['species'] = iris['species'].map({'setosa':0,'versicolor':1,'virginica':2})

In [238]:
#2-b Now, check the first 5 elements of the iris dataset once again:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [239]:
#03-a Select the first four columns of the dataframe as the Data and call the data x.
x = iris.iloc[:, :4]

x.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [240]:
#03-b Select the last column as the label and call it y.
y = iris.iloc[:, -1]

y.head()

0    0
1    0
2    0
3    0
4    0
Name: species, dtype: int64

In [241]:
#04 Now, it is the time to split the data (x) and the label (y) into training and testing segments, 
#and call them parts x_train,x_test,y_train,y_test.

from sklearn.model_selection import train_test_split

#04-a Please split the data, and label into training and testing segments, while the size of test data is 20%,
#and use randome_state = 123 to make all the answers similar in the whole class.

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=123)

In [242]:
#04-b Please, check the first five rows of  x_train,x_test,y_train,y_test.
x_train.head()

     sepal_length  sepal_width  petal_length  petal_width
130           7.4          2.8           6.1          1.9
119           6.0          2.2           5.0          1.5
29            4.7          3.2           1.6          0.2
0             5.1          3.5           1.4          0.2
62            6.0          2.2           4.0          1.0

In [243]:
x_test.head()

     sepal_length  sepal_width  petal_length  petal_width
72            6.3          2.5           4.9          1.5
112           6.8          3.0           5.5          2.1
132           6.4          2.8           5.6          2.2
88            5.6          3.0           4.1          1.3
37            4.9          3.1           1.5          0.1

In [244]:
y_train.head()

130    2
119    2
29     0
0      0
62     1
Name: species, dtype: int64

In [245]:
y_test.head()

72     1
112    2
132    2
88     1
37     0
Name: species, dtype: int64

In [246]:
#04-c Check the length of the x_train and x_test. If the numbers are 120 & 30, AWESOME! 
#You are good to continue!
print("Length of 'x_train is' =>" ,len(x_train))
print("Length of 'x_test is' =>" ,len(x_test))

Length of 'x_train is' => 120
Length of 'x_test is' => 30

In [247]:
#05-a Please, convert y_train and y_test into categorical, and call them
#one_hot_train_labels, and one_hot_test_labels, respectively.

import keras
from keras.utils import to_categorical

one_hot_train_labels = to_categorical(y_train)
one_hot_test_labels = to_categorical(y_test)

In [248]:
#06-a Please define a sequential model that contains 3 dense layers.
#     In the first and second layers, use 100 hidden units (neurons) and a 'relu' activation function.
#     For the last layer, we need to use 3 as the number of output, 
#     and the reason is we have three classes (setosa -> 0, versicolor -> 1, virginica -> 2)
#     Also, please pick an appropriate activation function for the last layer. 
#     (You already have guessed what could be the best when we have converted the labels to categorical.)

from keras.models import Sequential
from keras.layers import Dense
model = Sequential()
model.add(Dense(100, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(3, activation='softmax'))

In [249]:
#06-b Now, please compile your model using 'rmsprop', an appropriate loss function, and 'accuracy' for your metrics.
model.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy'])

In [250]:
#07-a Pleease fit your model using epoch=20, batch = 10.
model.fit(x_train, one_hot_train_labels, epochs=20, batch_size=10)

Epoch 1/20
12/12 [==============================] - 1s 5ms/step - loss: 0.9450 - accuracy: 0.5833
Epoch 2/20
12/12 [==============================] - 0s 4ms/step - loss: 0.7256 - accuracy: 0.6750
Epoch 3/20
12/12 [==============================] - 0s 4ms/step - loss: 0.5646 - accuracy: 0.7500
Epoch 4/20
12/12 [==============================] - 0s 4ms/step - loss: 0.4936 - accuracy: 0.7917
Epoch 5/20
12/12 [==============================] - 0s 5ms/step - loss: 0.4376 - accuracy: 0.8167
Epoch 6/20
12/12 [==============================] - 0s 4ms/step - loss: 0.4061 - accuracy: 0.8500
Epoch 7/20
12/12 [==============================] - 0s 5ms/step - loss: 0.3483 - accuracy: 0.8833
Epoch 8/20
12/12 [==============================] - 0s 5ms/step - loss: 0.3515 - accuracy: 0.8667
Epoch 9/20
12/12 [==============================] - 0s 5ms/step - loss: 0.3045 - accuracy: 0.9250
Epoch 10/20
12/12 [==============================] - 0s 2ms/step - loss: 0.2664 - accuracy: 0.9333
Epoch 11/20
12/12 [==============================] - 0s 2ms/step - loss: 0.2777 - accuracy: 0.8833
Epoch 12/20
12/12 [==============================] - 0s 2ms/step - loss: 0.2538 - accuracy: 0.9167
Epoch 13/20
12/12 [==============================] - 0s 2ms/step - loss: 0.2122 - accuracy: 0.9500
Epoch 14/20
12/12 [==============================] - 0s 2ms/step - loss: 0.2006 - accuracy: 0.9500
Epoch 15/20
12/12 [==============================] - 0s 3ms/step - loss: 0.1896 - accuracy: 0.9500
Epoch 16/20
12/12 [==============================] - 0s 2ms/step - loss: 0.1930 - accuracy: 0.9500
Epoch 17/20
12/12 [==============================] - 0s 3ms/step - loss: 0.1654 - accuracy: 0.9750
Epoch 18/20
12/12 [==============================] - 0s 3ms/step - loss: 0.1812 - accuracy: 0.9417
Epoch 19/20
12/12 [==============================] - 0s 3ms/step - loss: 0.1380 - accuracy: 0.9583
Epoch 20/20
12/12 [==============================] - 0s 2ms/step - loss: 0.1592 - accuracy: 0.9500

In [251]:
#08-a Please calculate the result, evaluating your x_test, one_hot_test_label, and see how accurate your model works.
test_loss, test_acc = model.evaluate(x_test, one_hot_test_labels)
print("The test_loss is ==>", test_loss)
print("The test_acc is ==>", test_acc)

1/1 [==============================] - 0s 211ms/step - loss: 0.1699 - accuracy: 0.9333
The test_loss is ==> 0.1699027717113495
The test_acc is ==> 0.9333333373069763

In [252]:
#09-a Now, we repeate all we have done in #06-a with the following parameters:
#In the first and second layers, use 10 hidden units (neurons) and a 'relu' activation function.
#For the last layer, we need to use 3. 

from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(10, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(3, activation='softmax'))

In [253]:
#09-b Use the same setting as you have done for #06-b (compile phase using 'rmsprom' and et cetera)
model.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy'])

In [254]:
#09-c Please fit your model using epoch=4, batch = 10.
model.fit(x_train, one_hot_train_labels, epochs=4, batch_size=10)

Epoch 1/4
12/12 [==============================] - 1s 5ms/step - loss: 1.1151 - accuracy: 0.2000
Epoch 2/4
12/12 [==============================] - 0s 4ms/step - loss: 0.9551 - accuracy: 0.3917
Epoch 3/4
12/12 [==============================] - 0s 4ms/step - loss: 0.8781 - accuracy: 0.8500
Epoch 4/4
12/12 [==============================] - 0s 3ms/step - loss: 0.8217 - accuracy: 0.9583

In [255]:
#09-d Please calculate the result, evaluating your x_test, one_hot_test_label, and see how accurate your model works.
test_loss, test_acc = model.evaluate(x_test, one_hot_test_labels)
print("The test_loss is ==>", test_loss)
print("The test_acc is ==>", test_acc)

1/1 [==============================] - 0s 244ms/step - loss: 0.7600 - accuracy: 0.8333
The test_loss is ==> 0.7599785923957825
The test_acc is ==> 0.8333333134651184

In [217]:
#10-a Please explain all you have learned from this assignment. 
# Theese are some quiestions that you could answer:
# How the number of layers or hidden units could impact the accuracy of our model.
# Do we always suffer from overfitting?
# How can we find and manage overfitting?

- This assignment taught me how to use a neural network to make predictions based on data. 
- I learned that the way the neural network is set up, with things like the number of layers and neurons, can affect how well it works.
- I also learned about the problem of overfitting, where the neural network is too focused on the specific data it was trained on and doesn't work well on new data. 
- To avoid this, I learned some techniques like regularization Finally, I learned how to test the neural network to see how well it can predict new data using a technique called cross-validation.(K-fold)

In [218]:
#10-b
# Please try different sessing as we did in #09
# You can change the number of layers, hidden units, compile parameters, number of epochs, batch_size... everything!
# Please change one parameter at a time.
# And share your experience.

In [256]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(25, activation='relu'))
model.add(Dense(25, activation='relu'))
model.add(Dense(3, activation='softmax'))

In [257]:
model.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy'])

In [258]:
model.fit(x_train, one_hot_train_labels, epochs=5, batch_size=10)

Epoch 1/5
12/12 [==============================] - 1s 3ms/step - loss: 1.1155 - accuracy: 0.3333
Epoch 2/5
12/12 [==============================] - 0s 2ms/step - loss: 0.9537 - accuracy: 0.3250
Epoch 3/5
12/12 [==============================] - 0s 3ms/step - loss: 0.8350 - accuracy: 0.4333
Epoch 4/5
12/12 [==============================] - 0s 3ms/step - loss: 0.7265 - accuracy: 0.7583
Epoch 5/5
12/12 [==============================] - 0s 3ms/step - loss: 0.6395 - accuracy: 0.8750

In [259]:
test_loss, test_acc = model.evaluate(x_test, one_hot_test_labels)
print("The test_loss is ==>", test_loss)
print("The test_acc is ==>", test_acc)

1/1 [==============================] - 0s 180ms/step - loss: 0.5797 - accuracy: 0.9000
The test_loss is ==> 0.5796564817428589
The test_acc is ==> 0.8999999761581421